/*// BASE STYLES //*/
* {
  box-sizing: border-box;
}
html, body{
  height: 100%;
  width:100%;
  overflow: hidden; 
  margin: 0;
}

.grass, .sky, .road{
  position: relative;
}

.sky{
  height: 40%;
  background: skyblue;
}

.grass{
  height: 30%;
  background: seagreen;
}

.road{  
  height: 30%;
  background: dimgrey;  
  border-top: 10px solid grey;
  border-bottom: 10px solid grey;
  width: 100%;
}

.lines {  
  border: 5px dashed #fff;
  height: 0px;
  width: 110%;
  position: absolute;
  top: 50%;
}

/*// ELEMENTS TO ANIMATE //*/
.mario {
  height: 6em;
  position: absolute;
  top: -40px;
  left: 0;
  animation-name: drive;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  /* animation-fill-mode: backwards;
  animation-fill-mode: both; */
  animation-delay: 2s;
  /* animation-iteration-count: 3; */
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* skatit arī: cubic-bezier.com */
}
.luigi {
  height: 6em;
  position: absolute;
  top: 100px;
  left: 0;
  animation-name: drive;
  animation-duration: 2.8s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: forwards;
  animation-timing-function: cubic-bezier(cubic-bezier(.21,1.05,.53,.53));
}

.cloud {
  position: absolute;
}

.cloud:nth-child(1) {
  width: 200px;
  top: 120px;
  opacity: 0.5;
  animation: wind 80s linear infinite reverse;
}

.cloud:nth-child(2) {
  width: 300px;
  top: 0px;
  animation: wind 50s linear infinite reverse;
}

/*// KEYFRAMES //*/
@keyframes drive {
  from{transform: translateX(-6em)}
  /* from{transform: translateX(100)} */
  to{transform: translateX(1700px)}
}

@keyframes wind {
  from{left: -300px}
  /* from{transform: translateX(100)} */
  to{left: 100%}
  
}






